//-           Options                          |               Classes
    ---------------------------------------------------------------------------
    options.image - изображениe                | options.addAnyClass - добавить любой класс
    options.heading - заголовок                | options.element - класс элемента
    options.text - текст                       | options.mode - модификатор блока
    options.alt - альтернативный текст для img | options.state - модификатор состояния

// TODO @Kotaro нужно примерно такое визуальное описание для сложных блоков, глупо но понятно

mixin advantages(options)
    if !options
        -options= {}
    if !options.image || !options.heading || !options.text
        p Указание src, heading и text является обязательным для advantages
    -
        var classes = 'advantages'
        classes += options.state ? ' advantages_state_' + options.state : ''


    div(class=classes class=pf.addClasses('advantages', options))
        img.advantages__image(
            src= 'img/' + options.image
            alt= options.alt ? options.alt : options.heading
        )
        .advantages__heading= options.heading
        .advantages__text= options.text
        hr.advantages__separator


//- +advantages({
//-     image: 'smile.svg',
//-     heading: 'Комфорт',
//-     text: 'Шумопоглощающие стены',
//-     alt: 'smile'
//- })